
body{	
	background-image: url(../img/fondo.jpg);
}


h1 {
	font-family: 'Lobster', cursive;
	color:ff4700;
	}
 
 ol{	
	font-family: 'Indie Flower', cursive;
	color:e9bd15;
	}
p{	
	font-family: 'Indie Flower', cursive;
	color:e9bd15;
	}

table, td {
    border: 1px solid #ff4700;
}
	




 

	
	
	
	